html{
    position: relative;
    background: rgb(68,68,68);
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(184,184,184);
}
h1,h2,h3,h4,h5{
    font-family: 'Source Sans Pro';
}
h1{
    font-size: 54px;
    font-weight: 200;
    margin: 60px 0px 0px;
}
h2{
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 0px 0px 60px;
    opacity: 0.6;
}
h3 {
    font-weight: 300;
    font-size: 36px;
    margin: 0 0 8px;
}
.hidden{
    display: none;
}
.centered{
    text-align: center;
}

.page{
    overflow: none;
    width: 600px;
    margin: 0px auto;
}
.pagetitle{
    text-align: center;
}
#content{
    width: 100%;
}
.textinput{
    background: rgb(85,85,85);
    border-radius: 3px;
    margin-bottom: 16px;
    border: none;
    padding: 16px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    box-sizing: border-box;
    color: rgb(180,180,180);
    -webkit-transition: all 150ms;
}
.textinput:focus{
    border: none;
    outline: none;
    background: rgb(95,95,95);
    color: rgb(220,220,220);
}
.textinput::-webkit-input-placeholder{
    color: rgb(150,150,150);
    font-style: italic;
}
.textinput.fixed{
    font-family: 'Inconsolata';
}
.button{
    position: relative;
    top: 0px;
    background: rgb(67, 168, 83);
    padding: 16px;
    font-family: 'Source Sans Pro';
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    outline: none;
    text-shadow: 0px 1px 1px rgba(8, 65, 5, 0.53);
    user-select: none;
    -webkit-transition: all 150ms linear;
}
.button:focus, .button:hover{
    top: -2px;
    box-shadow: 0px 2px rgb(51, 126, 63), 0px 2px 3px rgba(0, 0, 0, 0.22);
}
.button:active{
    top: 0px;
    box-shadow: none;
    background: rgb(47, 148, 63);
}
.button.disabled{
    top: 0px;
    box-shadow: none;
    cursor: default;
    color: rgb(209, 209, 209);
    background: rgb(85, 119, 90);
}

.textinput+.button{
    margin-left: 14px;
}
.progressbar{
    background: rgb(49, 187, 132);
    border-radius: 3px;
    margin-top:16px;
}
.bar{
    height: 6px;
    background: rgb(232, 255, 255);
    border-radius: 3px;
}
.cryptostuff{
    margin-bottom: 60px;
}
.urlbox{
    padding: 16px;
    background: rgb(58, 58, 58);
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 3px;
    color: rgb(219, 219, 219);
}
.urlbox .url{
    white-space: nowrap;
}
.urlbox em{
    font-weight: 900;
    font-style: normal;
    margin-right: 1em;
}
.urlbox a{
    color: white;
    text-decoration: none;
}
.urlbox a:hover{
    text-decoration: underline;
}
.status{
    text-align: center;
    margin-top: 8px;
    opacity: 0.5;
}
.loading{
    position: absolute;
    top:0; left: 0; right: 0; bottom: 0;
    user-select: none;
    pointer-events: none;
    background: rgba(0,0,0,0.75);
    color: white;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    -webkit-animation: all linear 500ms;
}
.loading .throbber{
    position: fixed;
    width: 200px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -50px;
    text-align: center;
}
.loading .throbber .icon{
    font-size: 48px;
    margin-bottom: 16px;
}
.secondary{
    background: rgb(54,54,54);
    padding: 60px 0px;
}
/* ----- RADIO BUTTONS ----- */

.radiobutton{
    display: inline-block;
    user-select: none;
}
.radiobutton > .option{
    display: inline-block;
    padding: 4px 6px;
    background: rgb(85,85,85);
    margin-right: -1px;
    cursor: pointer;
    user-select: none;
}
.radiobutton > .option.active{
    background: rgb(45,45,45);
}
.radiobutton > .option.first{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.radiobutton > .option.last{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#content-type{
    /*text-align: center;*/
    margin-bottom: 16px;
}




