html{
    background: rgb(255, 230, 100);
    font-family: 'Open Sans', sans-serif;
    color: rgb(134, 79, 36);
}
h1,h2,h3,h4,h5{
    font-family: 'Vollkorn';
}
h1{
    font-size: 54px;
    font-weight: 400;
    margin: 40px 0px -5px;
}
h2{
    font-size: 27px;
    font-weight: 400;
    margin: 0px 0px 40px;
}
.main{
    overflow: none;
    width: 600px;
    margin: 0px auto;
}
.pagetitle{
    text-align: center;
}
#content{
    width: 100%;
}
.textinput{
    background: rgb(255, 250, 210);
    border-radius: 3px;
    border: none;
    padding: 16px;
    box-sizing: border-box;
    color: rgb(90, 68, 51);
    box-shadow: 0px 1px 3px rgb(253, 170, 80);
    -webkit-transition: all 150ms;
}
.textinput:focus{
    border: none;
    outline: none;
    box-shadow: 0px 2px 0px rgb(255, 194, 39) inset, 0px 1px 3px rgb(255, 133, 0) inset;
}
.textinput::-webkit-input-placeholder{
    color: rgb(201, 149, 121);
    font-style: italic;
}
.button{
    background: rgb(49, 187, 132);
    padding: 16px;
    color: rgb(213, 255, 252);
    font-weight: 900;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    outline: none;
    box-shadow: 0px 2px rgb(203, 255, 203), 0px 2px 3px rgba(156, 56, 0, 0.22);
}
.textinput+.button{
    margin-left: 16px;
}
.progressbar{
    background: rgb(49, 187, 132);
    border-radius: 3px;
    margin-top:16px;
}
.bar{
    height: 6px;
    background: rgb(232, 255, 255);
    border-radius: 3px;
}
.urlbox{
    padding: 16px;
    background: rgb(255, 130, 98);
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 16px;
    border-radius: 3px;
    color: white;
    box-shadow: 0px 1px 3px rgba(175, 126, 0, 0.26);
}
.urlbox em{
    font-weight: 900;
    font-style: normal;
    margin-right: 1em;
}
.urlbox a{
    color: white;
    text-decoration: none;
}
.urlbox a:hover{
    text-decoration: underline;
}
.status{
    text-align: center;
    margin-top: 8px;
}
